/* General Styles */
body {
    font-family: monospace;
    background-image: url('https://images.rawpixel.com/image_social_square/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvdjgwNS1rdWwtMDguanBn.jpg');
    color: #333;
    padding-top: 20px; /* Height of navbar plus some extra space */
}

.navbar {
    display: flex;
    justify-content: space-around;
    width: 100%;
    background-color: #f0f0f0;
    padding: 10px 20px;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.navbar a {
    text-decoration: none;
    color: #007BFF;
    padding: 10px 15px; /* Add some padding around the links */
    border-radius: 4px;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #e7e7e7;
}

.create-root {
    max-width: 600px;
    margin: 30px auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.9);
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.create-form {
    display: flex;
    flex-direction: column;
}

.create-form input,
.create-form textarea,
.create-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.create-form input[type="file"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 15px;
}

.create-form select {
    font-family: monospace; /* Set font for select element */
}

.create-form input[type="submit"] {
    background-color: #333;
    color: white;
    cursor: pointer;
    padding: 10px 0; /* Add some padding to the submit button */
    border: none;
    border-radius: 4px;
    font-weight: bold;
    transition: background-color 0.3s;
}

.create-form input[type="submit"]:hover {
    background-color: #555; /* Darken the button on hover */
}

.image-selection {
    margin-bottom: 15px;
}

.image-grid {
    display: flex;
    gap: 10px;
}

.image-thumbnail {
    width: 100px;
    height: 100px;
    object-fit: cover;
    cursor: pointer;
    border: 2px solid transparent;
    border-radius: 4px;
    transition: border-color 0.3s;
}

.image-thumbnail.selected {
    border-color: #007BFF;
}
